<style>
  .card-my-5{
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Pathway Gothic One', sans-serif;
    font-family: 'Cuprum', sans-serif;
    font-family: 'Courgette', cursive;
    font-family: 'Karma', serif;
  }

</style>
<div class="card-my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="menu.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Menu name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger"> Menu must have a name ! </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="menu.description"
               class="form-control"
               id="description"
               name="description"
               placeholder="Describe the delicious taste of the menu"
               required #description="ngModel">
      </div>
      <div [hidden]="!description.pristine" class="alert alert-danger">Menu mush have a description!</div>

      <div class="form-group">
        <label for="entree">Appertizer's name</label>
        <input type="text" [(ngModel)]="menu.entree"
               class="form-control"
               id="entree"
               name="entree"
               placeholder="Named appertizer"
               required #description="ngModel">
      </div>
      <div [hidden]="!description.pristine" class="alert alert-danger">Menu must have a appertizer name!</div>

      <div class="form-group">
        <label for="mainCourse">Main course name</label>
        <input type="text" [(ngModel)]="menu.mainCourse"
               class="form-control"
               id="mainCourse"
               name="mainCourse"
               placeholder="Named main course"
               required #description="ngModel">
      </div>
      <div [hidden]="!description.pristine" class="alert alert-danger">Menu must have a main course name!</div>

      <div class="form-group">
        <label for="dessert">Dessert's name</label>
        <input type="text" [(ngModel)]="menu.dessert"
               class="form-control"
               id="dessert"
               name="dessert"
               placeholder="Named dessert"
               required #description="ngModel">
      </div>
      <div [hidden]="!description.pristine" class="alert alert-danger">Menu must have a dessert !</div>

      <div class="form-group">
        <label for="drink">Drink</label>
        <input type="text" [(ngModel)]="menu.drink"
               class="form-control"
               id="drink"
               name="description"
               placeholder="Named drink"
               required #description="ngModel">
      </div>
      <div [hidden]="!description.pristine" class="alert alert-danger">Menu must have a drink !</div>

      <div class="form-group">
        <label for="totalPrice">Total price</label>
        <input type="text" [(ngModel)]="menu.totalPrice"
               class="form-control"
               id="totalPrice"
               name="totalPrice"
               placeholder="Indicate the menu's toal price"
               required #description="ngModel">
      </div>
      <div [hidden]="!description.pristine" class="alert alert-danger">Menu must have a price !</div>

    </form>

  </div>
</div>

<form (ngSubmit)="onSubmit()" #menuForm="ngForm">
  <button type="submit"  class="btn btn-info">Submit</button>
</form>
