<style>

  .toolbar {
height: 70px;
margin: -8px;
display: flex;
align-items: center;
background-color: #1976d2;
color: white;
font-weight: 600;
    top: 0;
    position: fixed;
    width: 100%;
}

.toolbar img {
margin: 0 16px;
}

  .content {
    text-align: center;
    position: center;
  }
  .btn-search{
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background-color: chartreuse;
    font-family: "Fira Code Medium";
    font-size: 30px;
    font-style: italic;
  }
  .form-control{
    width: 100%;
    height: 50px;
    text-align: center;
  }

</style>


<div class="toolbar" role="banner">

  <img
    width="40"
    alt=""
    src="HTML_CSS/r_img.jpeg"
  />

  <span style="font-style: italic"> &hearts; WORLDWIDE'S FOOD for all !  &hearts; </span>
  <div class="spacer"></div>
  <a aria-label="Angular on Spring first" target="_blank" rel="noopener"  title="Restaurant">

    <svg id="restaurant" height="24" data-name="Logo — FIXED" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
    </svg>

  </a>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/restaurants" class="btn btn-info">List Restaurants</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/newrestaurant" class="btn btn-info">Add Restaurant</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/newmenu" class="btn btn-info">Add menu</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/menus" class="btn btn-info">List menu</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<div class="content" role="main">
  <!--  Barre de recherche RESTAURANT -->
  <form>
    <div class="search">
      <input ng-model="query" type="text" class="form-control" placeholder=" search somes restaurants...">
      <button type="submit" class="btn-search" type="button" autofocus> Browser</button>
    </div>
  </form>

</div>

<div>

  <a routerLink="/newmenu"> Add Menus</a>
  <br/>
  <router-outlet></router-outlet>

</div>
