<style>

  .singleRestaurant{
    border: solid;
    border-top-color: lightgray;
    border-right-color: lightgray;
    border-left-color: lightgray;
    border-width: 10px;
    width: 500px;
    text-align: center;
    position: relative;
    left: 30%;
    font-family: 'Antic', sans-serif;
  }

</style>

<div class="singleRestaurant">

          <h1> {{ restaurant.name}} </h1>
          <p>Description : {{ restaurant.description}} </p>
          <p>Address : {{ restaurant.address}} </p>
          Menus [Appertizer ; Main course ; Dessert]<br/>

              {{getMenus()}}
<!--    <table class="table table-bordered table-striped">-->
<!--      <tr *ngFor="let menu of menus">-->
<!--        Name : {{ menu.name }}<br/>-->
<!--        {{ menu.description }}<br/>-->
<!--        Appertizer{{ menu.entree }}<br/>-->
<!--        Main course : {{ menu.mainCourse }}<br/>-->
<!--        Dessert : {{ menu.dessert }}<br/>-->
<!--        Total price : {{ menu.totalPrice }}<br/>-->
<!--      </tr>-->
<!--    </table>-->

                <ul>
                  <li *ngFor="let menu of restaurant.menus">
                    <strong> Menu #{{ menu.id}} {{ menu.name }}</strong><br/>
                    {{ menu.description }}<br/>
                    Appertizer : {{ menu.entree }}<br/>
                    Main course : {{ menu.mainCourse }}<br/>
                    Dessert : {{ menu.dessert }}<br/>
                    Total price : {{menu.totalPrice }}<br/>
                  </li>
                </ul>

          Stars : {{ restaurant.starsNumber}}<br/>
          Average Price for the restaurant = {{ restaurant.averagePrice}}
</div>

