<style>

  .singleRestaurant{
    border: solid;
    border-top-color: lightgray;
    border-right-color: lightgray;
    border-left-color: lightgray;
    border-width: 10px;
    width: 500px;
    text-align: center;
    position: relative;
    left: 30%;
  }
</style>

<div class="singleRestaurant">

          <h1> {{ restaurant.name}} </h1>
          <p>Description : {{ restaurant.description}} </p>
          <p>Address : {{ restaurant.address}} </p>
          Menus [Appertizer ; Main course ; Dessert]<br/>
          {{ restaurant.menus}}<br/>
          Stars : {{ restaurant.starsNumber}}<br/>
          Price = {{ restaurant.averagePrice}}
</div>

