<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col"> Delete Restaurant</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let restaurant of restaurants">
        <td>{{ restaurant.id }}</td>
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.description }}</td>
        <td><button class="btn btn-danger" (click)="deleteResturant(restaurant)"> Delete Restaurant</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
