<style>
  .btn-btn-danger {
    background-color: darkgray;
    color: red;
    font-size: 20px;
    border-radius: 50px;
  }

</style>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col"> Delete Restaurant</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let restaurant of restaurants">
        <td>{{ restaurant.id }}</td>
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.description }}</td>
        <td><button class="btn-btn-danger" (click)="deleteRestaurant(restaurant)"> Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
