<div class="col-md-6">
  <h2> Restaurant Details</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Menus</th>
      <th>Address</th>
      <th>Stars numbers</th>
      <th>Average price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let restaurant of restaurants">
      <td class="hidden"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-danger" (click)="deleteResturant(restaurant)"> Delete User</button></td>
    </tr>
    </tbody>
  </table>
</div>


